@import "tailwindcss";

* {
    user-select: none;
    user-drag: none;
    /* Safari */
    -webkit-user-drag: none;
    /* Chrome, Edge */
}

input,
textarea,
[draggable="true"] {
    user-select: text;
}

#preview-teks,
pre {
    user-select: text;
}

html,
body {
    padding-right: 0 !important;
    scrollbar-gutter: stable !important;
}